* {
    font-size: 10px;
    font-family: 'DM Sans';
    font-weight: 700;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .header-text {
        align-items: center;
        gap: 3.4rem;
    }
}

@media only screen and (min-width: 769px) {
    .header-text {
        gap: 3.2rem;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.4rem;
    padding-top: 3.6rem;
    padding-bottom: 2.4rem;
    max-width: 100%;
}

#img-logo {
    width: 3.6rem;
    height: 3.6rem;
}

.header-text {
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.header-text-input {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.header-text-input>input {
    background-color: #F1F5F9;
    color: #94A3B8;
    width: 102rem;
    border-radius: 1rem;
    border: 1px none;
    font-size: 1.6rem;
    padding: 1.75rem;
    padding-left: 2rem;
}

.header-text-input>a {
    cursor: pointer;
}

#img-lupa {
    width: 3.2rem;
    height: 3.2rem;
    margin-left: -5.2rem;
}

.header-text>h1 {
    font-size: 4.8rem;
    color: #1E293B;
    padding-top: 0.8rem;
}